<launch>
    <!-- GPS 노드 실행 -->
    <node pkg="gps" type="gps_publisher.py" name="gps_node" output="screen" />

    <!-- TTS 노드 실행 -->
    <node pkg="tts" type="TTS.py" name="tts_node" output="screen" />

    <!-- Route Maker 노드 실행 -->
    <node pkg="route_maker" type="route_maker.py" name="route_maker_node" output="screen" />

    <!-- STT 노드 실행행 -->
    <node pkg="wake_word" type="wake_word_node.py" name="wake_word_node" output="screen" />

    <!-- STT 노드 실행 -->
    <node pkg="stt" type="STT_Trigger.py" name="stt_trigger" output="screen" />

</launch>

